In [131]:
import pandas as pd

crimeCountData = pd.read_csv(f"./crimeIndex/US_Arrests_by_offense_age_race.csv", encoding = "cp949")

crimeCountData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Offenses         31 non-null     object
 1   All races        28 non-null     object
 2   White            28 non-null     object
 3   Black            28 non-null     object
 4   American Indian  28 non-null     object
 5   Asian            28 non-null     object
dtypes: object(6)
memory usage: 1.6+ KB

In [132]:
selected_columns = ["Offenses","All races"]

revisedCrimeCount = crimeCountData[selected_columns]

revisedCrimeCount.head()

                               Offenses  All races
0                          All offenses  7,632,470
1  Murder and nonnegligent manslaughter     12,440
2                                  Rape        NaN
3                               Robbery     67,900
4                    Aggravated assault    381,190

In [133]:
revisedCrimeCount_index = revisedCrimeCount.set_index("Offenses")

revisedCrimeCount_index.head()

                                      All races
Offenses
All offenses                          7,632,470
Murder and nonnegligent manslaughter     12,440
Rape                                        NaN
Robbery                                  67,900
Aggravated assault                      381,190

In [134]:
noNull_Crime_Index = revisedCrimeCount_index.fillna("0")
noNull_Crime_Index.head()

                                      All races
Offenses
All offenses                          7,632,470
Murder and nonnegligent manslaughter     12,440
Rape                                          0
Robbery                                  67,900
Aggravated assault                      381,190

In [135]:
str(noNull_Crime_Index["All races"].dtype)

'object'

In [136]:
noNull_Crime_Index["All races"] = [x.replace(',','') for x in noNull_Crime_Index["All races"]]
noNull_Crime_Index["Count"] = pd.to_numeric(noNull_Crime_Index["All races"])
noNull_Crime_Index.head()

                                     All races    Count
Offenses
All offenses                           7632470  7632470
Murder and nonnegligent manslaughter     12440    12440
Rape                                         0        0
Robbery                                  67900    67900
Aggravated assault                      381190   381190

In [137]:
refined_index_crime = noNull_Crime_Index["Count"]
refined_index_crime.head()

Offenses
All offenses                            7632470
Murder and nonnegligent manslaughter      12440
Rape                                          0
Robbery                                   67900
Aggravated assault                       381190
Name: Count, dtype: int64

In [138]:
noNull_Crime_Index.index

Index(['All offenses', 'Murder and nonnegligent manslaughter', 'Rape',
       'Robbery', 'Aggravated assault', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson', 'Simple assault',
       'Forgery and counterfeiting', 'Fraud', 'Embezzlement',
       'Stolen property (buying, receiving, possessing)', 'Vandalism',
       'Weapons (carrying, possessing, etc.)',
       'Prostitution and commercialized vice',
       'Sex offenses (except rape & prostitution)', 'Drug abuse violations',
       'Gambling', 'Offenses against the family and children',
       'Driving under the influence', 'Liquor laws', 'Drunkenness',
       'Disorderly conduct', 'Vagrancy', 'All other offenses (except traffic)',
       'Curfew and loitering', 'Violent Crime Index', 'Property Crime Index',
       'Violent crimes*'],
      dtype='object', name='Offenses')

In [139]:
theft_crime = refined_index_crime.loc[["Robbery","Burglary","Larceny-theft","Motor vehicle theft"]]
theft_crime.head()

Offenses
Robbery                 67900
Burglary               149350
Larceny-theft          629020
Motor vehicle theft     83220
Name: Count, dtype: int64

In [140]:
murder_crime = refined_index_crime.loc[["Murder and nonnegligent manslaughter"]]
murder_crime.head()

Offenses
Murder and nonnegligent manslaughter    12440
Name: Count, dtype: int64

In [141]:
assault_crime = refined_index_crime.loc[["Aggravated assault","Simple assault"]]
assault_crime.head()

Offenses
Aggravated assault    381190
Simple assault        906980
Name: Count, dtype: int64

In [142]:
final_data = {"Count" :[murder_crime.sum(),0,theft_crime.sum(),assault_crime.sum()]}
             
final_data

{'Count': [12440, 0, 929490, 1288170]}

In [143]:
final_df = pd.DataFrame(final_data,index=["살인","강간","절도","폭행"])
final_df

      Count
살인    12440
강간        0
절도   929490
폭행  1288170

In [144]:
PoliceCountData = pd.read_csv(f"./crimeIndex/NumberOfPoliceOfficer_US.csv", encoding = "cp949")

PoliceCountData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   6 non-null      int64
 1   NumberOfPoliceOfficer  6 non-null      int64
dtypes: int64(2)
memory usage: 228.0 bytes

In [145]:
PopulationData = pd.read_csv(f"./crimeIndex/US_Population.CSV", encoding = "cp949")

PopulationData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                4 non-null      int64
 1   Population          4 non-null      object
 2   Yearly %            4 non-null      object
 3   Yearly              4 non-null      object
 4   Migrants (net)      4 non-null      object
 5   Median Age          4 non-null      float64
 6   Fertility Rate      4 non-null      float64
 7   Density (P/Km²)     4 non-null      int64
 8   Urban               4 non-null      object
 9   Urban Population    4 non-null      object
 10  Country's Share of  4 non-null      object
 11  World Population    4 non-null      object
 12  U.S.                4 non-null      int64
dtypes: float64(2), int64(3), object(8)
memory usage: 548.0+ bytes

In [146]:
selected_columns = ["Year","Population"]

revisedPopulationData = PopulationData[selected_columns]

revisedPopulationData.head()

   Year   Population
0  2024  341,814,420
1  2023  339,996,563
2  2022  338,289,857
3  2020  335,942,003

In [147]:
PoliceCountData.head()

   Year  NumberOfPoliceOfficer
0  2015                 698502
1  2016                 702108
2  2017                 705220
3  2018                 717914
4  2019                 719255

In [148]:
revisedPopulationData = revisedPopulationData.set_index("Year")
PoliceCountData = PoliceCountData.set_index("Year")

In [149]:
str(revisedPopulationData.index.dtype)

'int64'

In [150]:
str(PoliceCountData.index.dtype)

'int64'

In [151]:
str(revisedPopulationData["Population"].dtype)

'object'

In [152]:
str(PoliceCountData["NumberOfPoliceOfficer"].dtype)

'int64'

In [153]:
revisedPopulationData["Population"] = [x.replace(',','') for x in revisedPopulationData["Population"]]
revisedPopulationData["PopulationCount"] = pd.to_numeric(revisedPopulationData["Population"])
revisedPopulationData.head()

     Population  PopulationCount
Year
2024  341814420        341814420
2023  339996563        339996563
2022  338289857        338289857
2020  335942003        335942003

In [154]:
numericPopulationData = revisedPopulationData.drop(columns = ["Population"])
numericPopulationData.head()

      PopulationCount
Year
2024        341814420
2023        339996563
2022        338289857
2020        335942003

In [155]:
combinedPolicePopulation = pd.merge(PoliceCountData,numericPopulationData,left_index=True,right_index=True,how='outer')
combinedPolicePopulation.head()

      NumberOfPoliceOfficer  PopulationCount
Year
2015               698502.0              NaN
2016               702108.0              NaN
2017               705220.0              NaN
2018               717914.0              NaN
2019               719255.0              NaN

In [156]:
print(combinedPolicePopulation)

      NumberOfPoliceOfficer  PopulationCount
Year
2015               698502.0              NaN
2016               702108.0              NaN
2017               705220.0              NaN
2018               717914.0              NaN
2019               719255.0              NaN
2020               718217.0      335942003.0
2022                    NaN      338289857.0
2023                    NaN      339996563.0
2024                    NaN      341814420.0

In [157]:
finalPolicePopulation = combinedPolicePopulation.loc[2020]
finalPolicePopulation.head()

NumberOfPoliceOfficer       718217.0
PopulationCount          335942003.0
Name: 2020, dtype: float64

In [158]:
finalPolicePopulationData = pd.DataFrame({
    "Count" : [finalPolicePopulation["NumberOfPoliceOfficer"],finalPolicePopulation["PopulationCount"]]
}, index = ["총경찰관수","총인구수"]
)

finalPolicePopulationData.head()

             Count
총경찰관수     718217.0
총인구수   335942003.0

In [159]:
cctvData = pd.read_csv(f"./crimeIndex/US_CCTV.csv", encoding = "cp949")

cctvData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   City                           50 non-null     object
 1   State                          50 non-null     object
 2   Population                     50 non-null     object
 3   Area (mi²)                     50 non-null     int64
 4   # of CCTV Cameras              50 non-null     object
 5   # of cameras per 1,000 people  50 non-null     float64
 6   # of cameras per square mile   50 non-null     float64
 7   Crime Index                    50 non-null     float64
 8   Limitations                    18 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 3.6+ KB

In [160]:
selected_columns = ["City","# of CCTV Cameras"]

revisedcctvData = cctvData[selected_columns]

revisedcctvData.head()

            City # of CCTV Cameras
0        Atlanta            60,864
1     Washington            35,082
2   Philadelphia            46,957
3  San Francisco            18,200
4         Denver            14,043

In [161]:
str(revisedcctvData["# of CCTV Cameras"].dtype)

'object'

In [162]:
revisedcctvData["# of CCTV Cameras"] = [x.replace(',','') for x in revisedcctvData["# of CCTV Cameras"]]
revisedcctvData["Count"] = pd.to_numeric(revisedcctvData["# of CCTV Cameras"])
revisedcctvData.head()

C:\Users\marin\AppData\Local\Temp\ipykernel_117164\435148943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revisedcctvData["# of CCTV Cameras"] = [x.replace(',','') for x in revisedcctvData["# of CCTV Cameras"]]
C:\Users\marin\AppData\Local\Temp\ipykernel_117164\435148943.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revisedcctvData["Count"] = pd.to_numeric(revisedcctvData["# of CCTV Cameras"])

            City # of CCTV Cameras  Count
0        Atlanta             60864  60864
1     Washington             35082  35082
2   Philadelphia             46957  46957
3  San Francisco             18200  18200
4         Denver             14043  14043

In [163]:
finalcctvData = pd.DataFrame({
    "Count" : [revisedcctvData["Count"].sum(),finalPolicePopulation["PopulationCount"]]
}, index = ["총CCTV수","총인구수"]
)

finalcctvData.head()

              Count
총CCTV수     536273.0
총인구수    335942003.0

In [164]:
recidivismData = pd.read_csv(f"./crimeIndex/Recidivism_US.csv", encoding = "cp949")

recidivismData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 42 non-null     object
 1   Recidivism Rate       42 non-null     object
 2   Prison Population     42 non-null     object
 3   Parole Population     42 non-null     object
 4   Probation Population  42 non-null     object
dtypes: object(5)
memory usage: 1.8+ KB

In [165]:
selected_columns = ["State","Recidivism Rate"]
revisedRecidivism = recidivismData[selected_columns]
revisedRecidivism.head()

            State Recidivism Rate
0  South Carolina             21%
1        Oklahoma          22.60%
2        Virginia          23.30%
3          Nevada          24.60%
4       Minnesota             25%

In [166]:
revisedRecidivism["Recidivism Rate"] = [x.replace('%','') for x in revisedRecidivism["Recidivism Rate"]]
revisedRecidivism["Rate"] = pd.to_numeric(revisedRecidivism["Recidivism Rate"])
revisedRecidivism.head()

C:\Users\marin\AppData\Local\Temp\ipykernel_117164\2012668932.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revisedRecidivism["Recidivism Rate"] = [x.replace('%','') for x in revisedRecidivism["Recidivism Rate"]]
C:\Users\marin\AppData\Local\Temp\ipykernel_117164\2012668932.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revisedRecidivism["Rate"] = pd.to_numeric(revisedRecidivism["Recidivism Rate"])

            State Recidivism Rate  Rate
0  South Carolina              21  21.0
1        Oklahoma           22.60  22.6
2        Virginia           23.30  23.3
3          Nevada           24.60  24.6
4       Minnesota              25  25.0

In [167]:
revisedRecidivism["Rate"].mean()

37.05714285714286

In [168]:
finalrecidivismData = pd.DataFrame({
    "Count" : [revisedRecidivism["Rate"].mean()]
}, index = ["재범률"]
)

finalrecidivismData.head()

         Count
재범률  37.057143