In [1]:
import pandas as pd

crimeCountData = pd.read_csv(f"./crimeIndex/US_Arrests_by_offense_age_race.csv", encoding = "cp949")

crimeCountData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Offenses         31 non-null     object
 1   All races        28 non-null     object
 2   White            28 non-null     object
 3   Black            28 non-null     object
 4   American Indian  28 non-null     object
 5   Asian            28 non-null     object
dtypes: object(6)
memory usage: 1.6+ KB

In [2]:
selected_columns = ["Offenses","All races"]

revisedCrimeCount = crimeCountData[selected_columns]

revisedCrimeCount.head()

                               Offenses  All races
0                          All offenses  7,632,470
1  Murder and nonnegligent manslaughter     12,440
2                                  Rape        NaN
3                               Robbery     67,900
4                    Aggravated assault    381,190

In [3]:
revisedCrimeCount_index = revisedCrimeCount.set_index("Offenses")

revisedCrimeCount_index.head()

                                      All races
Offenses
All offenses                          7,632,470
Murder and nonnegligent manslaughter     12,440
Rape                                        NaN
Robbery                                  67,900
Aggravated assault                      381,190

In [17]:
noNull_Crime_Index = revisedCrimeCount_index.fillna("0")
noNull_Crime_Index.head()

                                      All races
Offenses
All offenses                          7,632,470
Murder and nonnegligent manslaughter     12,440
Rape                                          0
Robbery                                  67,900
Aggravated assault                      381,190

In [18]:
str(noNull_Crime_Index["All races"].dtype)

'object'

In [19]:
noNull_Crime_Index["All races"] = [x.replace(',','') for x in noNull_Crime_Index["All races"]]
noNull_Crime_Index["Count"] = pd.to_numeric(noNull_Crime_Index["All races"])
noNull_Crime_Index.head()

                                     All races    Count
Offenses
All offenses                           7632470  7632470
Murder and nonnegligent manslaughter     12440    12440
Rape                                         0        0
Robbery                                  67900    67900
Aggravated assault                      381190   381190

In [30]:
refined_index_crime = noNull_Crime_Index["Count"]
refined_index_crime.head()

Offenses
All offenses                            7632470
Murder and nonnegligent manslaughter      12440
Rape                                          0
Robbery                                   67900
Aggravated assault                       381190
Name: Count, dtype: int64

In [31]:
noNull_Crime_Index.index

Index(['All offenses', 'Murder and nonnegligent manslaughter', 'Rape',
       'Robbery', 'Aggravated assault', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson', 'Simple assault',
       'Forgery and counterfeiting', 'Fraud', 'Embezzlement',
       'Stolen property (buying, receiving, possessing)', 'Vandalism',
       'Weapons (carrying, possessing, etc.)',
       'Prostitution and commercialized vice',
       'Sex offenses (except rape & prostitution)', 'Drug abuse violations',
       'Gambling', 'Offenses against the family and children',
       'Driving under the influence', 'Liquor laws', 'Drunkenness',
       'Disorderly conduct', 'Vagrancy', 'All other offenses (except traffic)',
       'Curfew and loitering', 'Violent Crime Index', 'Property Crime Index',
       'Violent crimes*'],
      dtype='object', name='Offenses')

In [32]:
theft_crime = refined_index_crime.loc[["Robbery","Burglary","Larceny-theft","Motor vehicle theft"]]
theft_crime.head()

Offenses
Robbery                 67900
Burglary               149350
Larceny-theft          629020
Motor vehicle theft     83220
Name: Count, dtype: int64

In [33]:
murder_crime = refined_index_crime.loc[["Murder and nonnegligent manslaughter"]]
murder_crime.head()

Offenses
Murder and nonnegligent manslaughter    12440
Name: Count, dtype: int64

In [34]:
assault_crime = refined_index_crime.loc[["Aggravated assault","Simple assault"]]
assault_crime.head()

Offenses
Aggravated assault    381190
Simple assault        906980
Name: Count, dtype: int64

In [41]:
final_data = {"Count" :[murder_crime.sum(),0,theft_crime.sum(),assault_crime.sum()]}
             
final_data

{'Count': [12440, 0, 929490, 1288170]}

In [43]:
final_df = pd.DataFrame(final_data,index=["살인","강간","절도","폭행"])
final_df

      Count
살인    12440
강간        0
절도   929490
폭행  1288170