In [12]:
import pandas as pd

crimeCountData = pd.read_csv(r'C:\ming\crime_data_japan_2022.csv', encoding="cp949")

selected_columns = ["Offenses","Reported cases"]
revisedCrimeCount = crimeCountData[selected_columns]

revisedCrimeCount_index = revisedCrimeCount.set_index("Offenses")

revisedCrimeCount_index["Reported cases"] = revisedCrimeCount_index["Reported cases"].astype(str).str.replace(',', '')

revisedCrimeCount_index["Count"] = pd.to_numeric(revisedCrimeCount_index["Reported cases"])

refined_index_crime = revisedCrimeCount_index["Count"]

final_data = {"Count": revisedCrimeCount_index["Count"].tolist()}
final_df = pd.DataFrame(final_data, index=["살인", "강간", "절도", "폭행"])
final_df

    Count
살인    853
강간   1655
절도  44150
폭행  52701

In [15]:
import pandas as pd

PoliceCountData = pd.read_csv("C:/ming/NumberOfPolice_2020.csv")

final_data = {"Count": revisedCrimeCount_index["Count"].tolist()}
final_df = pd.DataFrame(final_data, index=["살인", "강간", "절도", "폭행"])

selected_columns = ["number","total population"]

cnt = PoliceCountData[selected_columns]
cnt["total population"].fillna(0, inplace=True)

police_cnt = pd.DataFrame({"Count": [cnt["number"].sum(),
                                    cnt["total population"].sum()]},
                          index=["총경찰관수", "총인구수"])
police_cnt

C:\Users\mjmok\AppData\Local\Temp\ipykernel_7244\2357293582.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt["total population"].fillna(0, inplace=True)

             Count
총경찰관수     273960.0
총인구수   125100000.0

In [16]:
import pandas as pd

data = {
    "Offenses": ["Murder and nonnegligent manslaughter", "Rape", "Robbery", "Aggravated assault"],
    "총 건수": [785, 1339, 68478, 45682],
    "초범": [432, 744, 33100, 25307],
    "재범": [353, 595, 35378, 20375]
}

df = pd.DataFrame(data)
df.to_csv("일본 재범률.csv", index=False)

crime_data_df = pd.read_csv("일본_재범률.csv")

mean_rate = crime_data_df["재범률"].mean()

mean_rate_df = pd.DataFrame({"Count": [mean_rate]}, index=["재범률"])

mean_rate_df

      Count
재범률  46.425