In [2]:
import pandas as pd

PoliceCountData = pd.read_csv("C:/ming/NumberOfPolice_2020.csv")
PoliceCountData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   area              52 non-null     object
 1   number            52 non-null     float64
 2   total population  1 non-null      float64
dtypes: float64(2), object(1)
memory usage: 1.4+ KB

In [36]:
selected_columns = ["number","total population"]

cnt = PoliceCountData[selected_columns]
cnt["total population"].fillna(0, inplace=True)
cnt.head()

C:\Users\mjmok\AppData\Local\Temp\ipykernel_13252\3370183896.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt["total population"].fillna(0, inplace=True)

   number  total population
0  2348.0               0.0
1  2153.0               0.0
2  3766.0               0.0
3  1989.0               0.0
4  2013.0               0.0

In [35]:
police_cnt = pd.DataFrame({"Count": [cnt["number"].sum(),
                                    cnt["total population"].sum()]},
                          index=["총경찰관수", "총인구수"])
police_cnt

             Count
총경찰관수     273960.0
총인구수   125100000.0