In [1]:
import pandas as pd

crimeCountData = pd.read_csv('data/appendixtablesyedec22.csv', encoding='utf-8')

crimeCountData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Offence code                      198 non-null    object
 1   Offence category                  239 non-null    object
 2   Apr 2002 to
 Mar 2003            147 non-null    object
 3   Apr 2003 to
 Mar 2004            149 non-null    object
 4   Apr 2004 to
 Mar 2005            166 non-null    object
 5   Apr 2005 to
 Mar 2006            167 non-null    object
 6   Apr 2006 to
 Mar 2007            167 non-null    object
 7   Apr 2007 to
 Mar 2008            175 non-null    object
 8   Apr 2008 to
 Mar 2009            190 non-null    object
 9   Apr 2009 to
 Mar 2010            186 non-null    object
 10  Apr 2010 to
 Mar 2011            185 non-null    object
 11  Apr 2011 to
 Mar 2012            187 non-null    object
 12  Apr 2012 to
 Mar 2013            165 non-null    object
 13  Apr 2013 to
 Mar 2014            159 non-null    object
 14  Apr 2014 to
 Mar 2015            158 non-null    object
 15  Apr 2015 to
 Mar 2016            159 non-null    object
 16  Apr 2016 to
 Mar 2017            158 non-null    object
 17  Apr 2017 to
 Mar 2018            159 non-null    object
 18  Apr 2018 to
 Mar 2019            159 non-null    object
 19  Apr 2019 to
 Mar 2020            161 non-null    object
 20  Apr 2020 to
 Mar 2021            163 non-null    object
 21  Apr 2021 to
 Mar 2022            163 non-null    object
 22  Jan 2021 to
 Dec 2021            163 non-null    object
 23  Jan 2022 to Dec 2022              163 non-null    object
 24  Dec 2022 with Mar 2020
% change  161 non-null    object
 25  Dec 2022 with Dec 2021
% change  162 non-null    object
dtypes: object(26)
memory usage: 48.7+ KB

In [2]:
select_columns=['Offence category', 'Jan 2022 to Dec 2022']

revisedCrimeCount = crimeCountData[select_columns]

revisedCrimeCount.head()

         Offence category Jan 2022 to Dec 2022
0     VICTIM BASED CRIME             4,500,594
1         Murder [note 3]                  542
2   Manslaughter [note 3]                   76
3  Corporate manslaughter                   13
4             Infanticide                    1

In [3]:
revisedCrimeCount_index = revisedCrimeCount.set_index('Offence category')

revisedCrimeCount_index.head()

                       Jan 2022 to Dec 2022
Offence category
VICTIM BASED CRIME                4,500,594
Murder [note 3]                         542
Manslaughter [note 3]                    76
Corporate manslaughter                   13
Infanticide                               1

In [4]:
noNull_Crime_Index = revisedCrimeCount_index.fillna('0')

noNull_Crime_Index.head(12)

                                                   Jan 2022 to Dec 2022
Offence category
VICTIM BASED CRIME                                            4,500,594
Murder [note 3]                                                     542
Manslaughter [note 3]                                                76
Corporate manslaughter                                               13
Infanticide                                                           1
Homicide [note 3,4,5,6,7,8]                                         632
Causing death or serious injury by dangerous dr...                  663
Causing death by careless driving when under th...                   20
Causing death by careless or inconsiderate driving                   99
Causing death by dangerous or careless driving                        0
Causing death by driving: unlicensed or disqual...                   26
Causing death by aggravated vehicle taking                            5

In [5]:
str(noNull_Crime_Index['Jan 2022 to Dec 2022'].dtype)

'object'

In [6]:
noNull_Crime_Index['Jan 2022 to Dec 2022'] = [x.replace(',', '') for x in noNull_Crime_Index['Jan 2022 to Dec 2022']]

noNull_Crime_Index['Count'] = pd.to_numeric(noNull_Crime_Index['Jan 2022 to Dec 2022'])

noNull_Crime_Index.head()

                       Jan 2022 to Dec 2022    Count
Offence category
VICTIM BASED CRIME                  4500594  4500594
Murder [note 3]                         542      542
Manslaughter [note 3]                    76       76
Corporate manslaughter                   13       13
Infanticide                               1        1

In [7]:
refined_index_crime = noNull_Crime_Index['Count']

refined_index_crime.head()

Offence category
VICTIM BASED CRIME        4500594
Murder [note 3]               542
Manslaughter [note 3]          76
Corporate manslaughter         13
Infanticide                     1
Name: Count, dtype: int64

In [8]:
noNull_Crime_Index.index

Index(['VICTIM BASED CRIME ', 'Murder [note 3]', 'Manslaughter [note 3]',
       'Corporate manslaughter', 'Infanticide', 'Homicide [note 3,4,5,6,7,8]',
       'Causing death or serious injury by dangerous driving [note 9]',
       'Causing death by careless driving when under the influence of drink or drugs                                                                               ',
       'Causing death by careless or inconsiderate driving',
       'Causing death by dangerous or careless driving',
       ...
       'Fraud by failing to disclose information [note 50]',
       'Fraud by abuse of position [note 50]',
       'Obtaining services dishonestly [note 50]',
       'Bankruptcy and insolvency offences ',
       'TOTAL FRAUD OFFENCES RECORDED BY THE POLICE [note 57]',
       'Fraud and computer misuse offences recorded by Action fraud  [note 57, 58, 59]',
       'Fraud offences referred to NFIB by Cifas [note 58, 59]',
       'Fraud offences referred to NFIB by UK Finance [note 58 ,60, 61, 62, 63, 64]',
       'TOTAL FRAUD  AND COMPUTER MISUSE OFFENCES [note 63]',
       'TOTAL RECORDED CRIME ? ALL OFFENCES INCLUDING FRAUD AND COMPUTER MISUSE [note 55,63 ]'],
      dtype='object', name='Offence category', length=239)

In [13]:
theft_crime = refined_index_crime.loc[['TOTAL THEFT OFFENCES']]
theft_crime.head()

Offence category
TOTAL THEFT OFFENCES    1648404
Name: Count, dtype: int64

In [14]:
assault_crime = refined_index_crime.loc[['Violence with injury', 'Violence without injury']]

assault_crime.head()

Offence category
Violence with injury       558886
Violence without injury    811873
Name: Count, dtype: int64

In [19]:
murder_crime = refined_index_crime.loc[['Homicide [note 3,4,5,6,7,8]']]

murder_crime.head()

Offence category
Homicide [note 3,4,5,6,7,8]    632
Name: Count, dtype: int64

In [20]:
rape_crime = refined_index_crime.loc[['Rape']]
rape_crime.head()

Offence category
Rape    67169
Name: Count, dtype: int64

In [21]:
final_data = {'Count': [murder_crime.sum(), rape_crime.sum(), theft_crime.sum(), assault_crime.sum()]}

final_data

{'Count': [632, 67169, 1648404, 1370759]}

In [ ]:
final_df = pd.DataFrame(final_data, index=['살인', '강간', '절도', '