In [1]:
import pandas as pd

crimeCountData = pd.read_csv(f"C:/data/project2/캐나다_폭력_범죄.csv", encoding = "utf-8")

crimeCountData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      13 non-null     object
 1   건수      13 non-null     object
dtypes: object(2)
memory usage: 340.0+ bytes

In [2]:
Assaults_columns = ['년도', '건수']

Assaults_data = crimeCountData[Assaults_columns]

Assaults_data = Assaults_data.drop(index = [0,1,2,3,4,5,6,7,8,9,10,11])
Assaults_data = Assaults_data.drop(columns = ['년도'])
Assaults_data['건수'] = Assaults_data['건수'].str.replace(',', '')
Assaults_data['건수'] = Assaults_data['건수'].astype(int)
int_Assaults_data = Assaults_data
int_Assaults_data

        건수
12  531243

In [3]:
crimeCountData = pd.read_csv(f"C:/data/project2/캐나다_살인_범죄.csv", encoding = 'utf-8')

crimeCountData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      1 non-null      int64
 1   건수      1 non-null      int64
dtypes: int64(2)
memory usage: 148.0 bytes

In [4]:
Murder_columns = ['년도', '건수']
Murder_data = crimeCountData[Murder_columns]
Murder_data = Murder_data.drop(columns = ['년도'])
Murder_data['건수'] = Murder_data['건수'].astype(int)
int_Murder_data = Murder_data
int_Murder_data

    건수
0  887

In [5]:
crimeData = pd.read_csv(f"C:/data/project2/캐나다_재산_범죄.csv", encoding ='utf-8')

crimeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      13 non-null     object
 1   건수      13 non-null     object
dtypes: object(2)
memory usage: 340.0+ bytes

In [6]:
theft_columns = ['년도','건수']
theft_data = crimeData[theft_columns]
theft_data = theft_data.drop(index = [0,1,2,3,4,5,6,7,8,9,10,11])
theft_data = theft_data.drop(columns = ['년도'])
theft_data['건수'] = theft_data['건수'].str.replace(',', '')
int_theft_data = theft_data
int_theft_data

         건수
12  1290215

In [7]:
import pandas as pd
crimeData = pd.read_csv(f"C:/data/project2/캐나다_성폭행_범죄.csv", encoding ='utf-8')
crimeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      1 non-null      int64
 1   건수      1 non-null      object
dtypes: int64(1), object(1)
memory usage: 148.0+ bytes

In [8]:
Sexual_assault_columns = ['년도', '건수']

Sexual_assault_data = crimeData[Sexual_assault_columns]
Sexual_assault_data = Sexual_assault_data.drop(columns = ['년도'])
Sexual_assault_data['건수'] = Sexual_assault_data['건수'].str.replace(',', '')
Sexual_assault_data['건수'] = Sexual_assault_data['건수'].astype(int)
int_Sexual_assault_data = Sexual_assault_data
int_Sexual_assault_data

      건수
0  34200

In [9]:
result = pd.concat([int_Murder_data ,int_Sexual_assault_data,
                   int_theft_data, int_Assaults_data], ignore_index=True)
result

        건수
0      887
1    34200
2  1290215
3   531243

In [10]:
new_index = ['살인', '강간', '절도', '폭행']
result.index = new_index
result = result.rename(columns = {'건수' : 'Count'})
result

      Count
살인      887
강간    34200
절도  1290215
폭행   531243

In [11]:
import pandas as pd

PoliceCountData = pd.read_csv(f"C:/data/project2/캐나다_경찰관_수정본.csv",
                             encoding = 'utf-8')
PoliceCountData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Statistics(통계)  6 non-null      object
 1   2019            6 non-null      object
 2   2020            6 non-null      object
 3   2021            6 non-null      object
 4   2022            6 non-null      object
 5   2023            6 non-null      object
dtypes: object(6)
memory usage: 420.0+ bytes

In [12]:
data = {'년도' : ['2022'],
       '인구 수' : ['39,276,140']}
df = pd.DataFrame(data)
PopulationData = df
PopulationData

PopulationData['인구 수'] = PopulationData['인구 수'].str.replace(',', '')
PopulationData['인구 수'] = PopulationData['인구 수'].astype(int)
PopulationData

     년도      인구 수
0  2022  39276140

In [13]:
PoliceCountData = PoliceCountData.drop(columns = ['2019','2020','2021','2023'])
PoliceCountData

                                      Statistics(통계)     2022
0             Total number of all personnel 3(총 인원수)  103,327
1       Total number of police officers 4 5(총 경찰관 수)   70,581
2                    Men police officers 4 5(남자 경찰관)   54,562
3                  Women police officers 4 5(여자 경찰관)   16,018
4  Total number of civilian and other personnel 6...   32,747
5  Police officers per 100,000 population 4 8(인구 ...    181.3

In [14]:
PoliceCountData = PoliceCountData.drop(index = [0,2,3,4,5])
PoliceCountData

                                 Statistics(통계)    2022
1  Total number of police officers 4 5(총 경찰관 수)  70,581

In [15]:
PoliceCountData = PoliceCountData.drop(columns = ['Statistics(통계)'])
PoliceCountData

     2022
1  70,581

In [16]:
PoliceCountData['2022'] = PoliceCountData['2022'].str.replace(',', '')
PoliceCountData['2022'] = PoliceCountData['2022'].astype(int)
PoliceCountData

    2022
1  70581

In [17]:
PoliceCountData = PoliceCountData.rename(columns = {'2022' : '인구 수'})
PoliceCountData

    인구 수
1  70581

In [18]:
Pol_Pop_data = pd.concat([PoliceCountData, PopulationData],ignore_index=True)
Pol_Pop_data

       인구 수    년도
0     70581   NaN
1  39276140  2022

In [19]:
Pol_Pop_data = Pol_Pop_data.drop(columns = ['년도'])
Pol_Pop_data

       인구 수
0     70581
1  39276140

In [20]:
Pol_Pop_data = Pol_Pop_data.rename(columns = {'인구 수' : 'Count'})
new_index = ['총경찰관수', '총인구수']
Pol_Pop_data.index = new_index
Pol_Pop_data

          Count
총경찰관수     70581
총인구수   39276140

In [65]:
selected_columns = ["인구 수"]
PopulationData1 = PopulationData[selected_columns]
final_data = PopulationData1["인구 수"].tolist()
cctv = 0

cnt = pd.DataFrame({"Count": [cctv, final_data[0]]}, index=["총CCTV수", "총인구수"])
cnt

           Count
총CCTV수         0
총인구수    39276140

In [32]:
recidivism_rate_data = 0
recidivism_df = pd.DataFrame({'Count' : [recidivism_rate_data]}, index = ['재범률'])
recidivism_df

     Count
재범률      0